body   {
    font-family: sans-serif;
    color: white;
    background-color: aquamarine;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

h1 { 
        text-align: center;
}

p {
        text-align: center;
}
    
 
.menu-toggle {
        background-color: mediumturquoise;
        padding: 10px;
        cursor: pointer;
        position: fixed;
        top: 10px;
        left: 10px;     
        color: white;
        font-size: 24px;
        border-radius: 5px;
        z-index: 1000;
}
      
.menu {
        position: fixed;
        top: 0;
        left: -250px;
        width: 250px;
        height: 100%;
        background-color: mediumturquoise;
        transition: left 0.3s ease;
}
    
.menu.active {
        left: 0;
}
    
    
.menu ul {
        list-style-type: none;
        padding: 0;
        margin-top: 60px;
}
      
.menu li {
        padding: 15px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
      
.menu li a {
        text-decoration: none;
        color: white;
        font-size: 18px;
        display: block;
}
      
.menu li:hover {
        background-color: rgba(255, 255, 255, 0.1);
}   

p{
        font-size: 23px;
}   


input, select, textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid lightgrey;
        border-radius: 5px;
        font-size: 14px;
}
      
 textarea {
        resize: vertical;
}

label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
        color: white;
}

legend {
        font-weight: bold;
        color: white;
        padding: 0 10px;
} 
  
fieldset {
        border: 1px solid white;
        border-radius: 5px;
        padding: 15px;
        margin-bottom: 20px;
        
}

.form-container {
        background-color: darkturquoise;
        padding: 20px;
        border-radius: 8px;
        text-align: center;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        width: 1250px;
        max-width: 1300px;
}

button {
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 5px;
        background-color: lightseagreen;
        color: white;
        cursor: pointer;
        font-size: 16px;

}

button:hover {
        background-color: mediumseagreen;
}

#responseMessage {
        margin-top: 20px;
        font-size: 16px;
}
    
.success {
        color: green;
}
    
.error {
        color: red;
}
