body   {
    text-align: center;
    font-family: sans-serif;
    color: white;
    background-color: paleturquoise;
    min-height: 100%;
}
    
.menu-toggle {
        background-color: mediumturquoise;
        padding: 10px;
        cursor: pointer;
        position: fixed;
        top: 10px;
        left: 10px;     
        color: white;
        font-size: 24px;
        border-radius: 5px;
        z-index: 1000;
}
      
.menu {
        position: fixed;
        top: 0;
        left: -250px;
        width: 250px;
        height: 100%;
        background-color: mediumturquoise;
        transition: left 0.3s ease;
}
    
.menu.active {
        left: 0;
}
    
    
.menu ul {
        list-style-type: none;
        padding: 0;
        margin-top: 60px;
}
      
.menu li {
        padding: 15px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
      
.menu li a {
        text-decoration: none;
        color: white;
        font-size: 18px;
        display: block;
}
      
.menu li:hover {
        background-color: rgba(255, 255, 255, 0.1);
}   


