body   {
    text-align: center;
    font-family: sans-serif;
    color: white;
    min-height: 100%;
    margin: 0;
}
    
#grad {
        background: linear-gradient(to right, lightgreen, lightskyblue);
        min-height: 100vh;
        margin: 0;
}
    
.menu-toggle {
        background-color: mediumturquoise;
        padding: 10px;
        cursor: pointer;
        position: fixed;
        top: 10px;
        left: 10px;     
        color: white;
        font-size: 24px;
        border-radius: 5px;
        z-index: 1000;
}
      
.menu {
        position: fixed;
        top: 0;
        left: -250px;
        width: 250px;
        height: 100%;
        background-color: mediumturquoise;
        transition: left 0.3s ease;
}
    
.menu.active {
        left: 0;
}
    
    
.menu ul {
        list-style-type: none;
        padding: 0;
        margin-top: 60px;
}
      
.menu li {
        padding: 15px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
      
.menu li a {
        text-decoration: none;
        color: white;
        font-size: 18px;
        display: block;
}
      
.menu li:hover {
        background-color: rgba(255, 255, 255, 0.1);
}

button {
        width: 18%;
        padding: 12px;
        background-color: mediumturquoise; 
        color: white; 
        border: none;
        border-radius: 75px;
        font-size: 16px;
        cursor: pointer;
}
    
button:hover {
        background-color: mediumturquoise;  
}  

h3{
        border-style: solid;
        border-color: white;
        border-width: 3px;
        border-radius: 10px;
        outline: dashed;
        height: 50px;

}

h2{
        text-align: left;
        text-decoration: underline;
        font-size: 30px;
    }

#p1{
        text-align: left;
        text-align-last: left;
        font-size: 20px;
        width: 1300px;
        
}  

#p2{
        text-align: left;
        text-align-last: left;
        font-size: 20px;
        width: 1300px;
        
}

#p3{
        text-align: left;
        text-align-last: left;
        font-size: 20px;
        width: 1300px;
}
